# ============================================================
#  SCARE Backend — Environment Variables Template
#  Salin file ini menjadi ".env" dan isi nilainya
# ============================================================

PORT=3000
NODE_ENV=development

# MODEL_API_URL=
# MODEL_PATH=
